@model GestorDeGastos.ViewModels.CrearRubroViewModel

<h2>Crear Rubro</h2>

<form asp-action="Crear" method="post">

    <div>
        <label>Nombre Rubro</label>
        <input asp-for="NombreRubro" />
    </div>

    <div>
        <label>Detalles</label>
        <div id="contenedorDetalles">
            <input name="DetallesDescripcion" />
        </div>
        <button type="button" id="btnAgregarDetalle">Agregar detalle</button>
    </div>

    <div>
        <label>Roles que pueden ver este Rubro</label>
        <div>
            @foreach (var rol in ViewBag.Roles)
            {
                <label>
                    <input type="checkbox" name="RolesSeleccionados" value="@rol.Id" />
                    @rol.NombreRol
                </label>
            
                <br />
            }
        </div>
    </div>

    <button type="submit">Crear Rubro</button>

</form>

<script>
    document.getElementById('btnAgregarDetalle').addEventListener('click', function() {
        var contenedor = document.getElementById('contenedorDetalles');
        var input = document.createElement('input');
        input.name = 'DetallesDescripcion';
        contenedor.appendChild(input);
    });
</script>