@model IEnumerable<GestorDeGastos.Models.Rubro>

@{
    ViewData["Title"] = "Rubros";
}

<h1>Rubros</h1>

<p>
    <a asp-action="CrearRubro">Crear nuevo Rubro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRubro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRubro)
                </td>
                <td>
                    <a asp-action="DetallesRubro" asp-route-id="@item.Id">Ver Detalles</a>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

